.button {
    -fx-background-color: grey;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-border-color: white;
}
.gui-square {
    -fx-text-fill: white;
}
.theme {
    -fx-background-color: grey;
}
.label {
    -fx-text-fill: white
}
.water-square {
    -fx-background-color: dodgerblue;
}
.terrain-square {
    -fx-background-color: brown;
}
.grass-square {
    -fx-background-color: limegreen;
}
.standard-square {
    -fx-background-color: dimgray;
}