.water-square {
    -fx-background-color: dodgerblue;
}
.terrain-square {
    -fx-background-color: brown;
}
.grass-square {
    -fx-background-color: limegreen;
}
.standard-square {
    -fx-background-color: dimgray;
}
.gui-square {
    -fx-text-fill: white;
}