.button {
    -fx-background-color: lightgrey;
    -fx-background-radius: 0px;
    -fx-text-fill: black;
    -fx-border-color: black;
}
.gui-square {
    -fx-text-fill: black;
}
.theme {
    -fx-background-color: lightgrey;
}
.label {
    -fx-text-fill: black;
}
.water-square {
    -fx-background-color: dodgerblue;
}
.terrain-square {
    -fx-background-color: brown;
}
.grass-square {
    -fx-background-color: limegreen;
}
.standard-square {
    -fx-background-color: lightgrey;
}